# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# iOS API Keys and Sensitive Files
ios/Runner/AppDelegate.swift
ios/Runner/Info.plist
.env
.env.*

# Keep templates
!ios/Runner/AppDelegate.swift.template
!ios/Runner/Info.plist.template
.dart_tool/

.history/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.lock
!pubspec.lock

# iOS related
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/project.pbxproj
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/AppFrameworkInfo.plist
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/build/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*

# Android related
**/android/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Test related
/coverage/
.test_coverage.dart
coverage_badge.svg

# Exceptions to the above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# iOS
ios/Pods/
ios/Podfile.lock